@page "/profile"
@page "/profile/{profileId}"
@using Onebrb.Core.Enumerations;
@inherits ProfileBase

<h3>Profile</h3>

@if (Profile == null)
{
    <h2>Loading...</h2>
}
else if (Profile.ProfileType == ProfileTypeEnum.OwnProfile)
{
    // Own profile.
    <h2>Welcome to your profile, @Profile.FirstName</h2>
}
else
{
    // Other person's profile.
    <h2>Profile of @Profile.FirstName @Profile.LastName</h2>
    <h2>Email: @Profile.Email</h2>
}