@page "/profile"
@page "/profile/{profileNickname}"
@page "/profile/{profileId:int}"
@inherits ProfileBase

@if (Profile == null)
{
    <h2>Loading...</h2>
}
else 
{
    <ProfileProducts Profile="@Profile" />
}