@page "/profile"
@page "/profile/{profileId}"
@inherits ProfileBase

<h3>Profile</h3>

@if (Profile == null)
{
    <h2>Loading...</h2>
}
else if (Profile.ProfileType == Core.Enumerations.ProfileTypeEnum.OwnProfile)
{
    // Show own profile and options (like editing and etc...)
    <h2>Welcome to your profile, @Profile.FirstName</h2>
}
else
{
    <h2>Profile of @Profile.FirstName @Profile.LastName</h2>
    <h2>Email: @Profile.Email</h2>
}