@inherits WelcomeHomepageBase

<div class="welcome-homepage-component">
    <h2 class="welcome-homepage-component__welcome-title">@WelcomeMessage</h2>
    <div class="welcome-homepage-component__links-container">
        <a href="@LoginPageUrl" class="btn btn-primary">Login</a>
        <a href="@RegisterPageUrl" class="btn btn-primary">Register</a>
        <a href="@AboutPageUrl" class="btn btn-primary">About</a>
    </div>
</div>